cluster:
  name: ocp4
  baseDomain: lab.signal9.gg
  gitOpsRepo: https://github.com/marbindrakon/rhte-2023-fleet-gitops.git
  importToHub: true
  createGitopsManifestWorks: false
  useACM: false
  clusterImageSet: img4.11.17-x86-64-appsub
  releaseImage: null
  controlPlaneCount: 3
  workerCount: 3
  apiVIP: ""
  ingressVIP: ""
  pullSecretVault: ""
  trustedCAs: ""
  sshKeyVault: ""
  sshPubKey: ""
  dnsServers: []

provider:
  providerCredsVault: ""
  providerCAs: ""
  type: OpenStack
  openstack:
    existingImage: null
    externalNetwork: ""
    computeAZs: []
    controlPlaneFlavor: m1.xlarge
    workerFlavor: m1.large
  infraenv:
    networkType: static
    useExternalLB: true
    machineCIDR: ""
    ntpServers:
      - 172.18.0.79
      - 172.18.42.10
      - 172.18.42.11
    hostNetworkConfigs: {}
